*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    transition: 0.3s;
}
:root{
    --mainColor--:rgb(1, 14, 1);
    --mainColor2--:rgb(62, 88, 62);
    --mainColor3--:rgb(55, 165, 55);
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    background-color: var(--mainColor2--);
}
::-webkit-scrollbar-button{
    background-color: var(--mainColor--);
}
::-webkit-scrollbar-thumb{
    background-color: white;
}
body{
    background-color: var(--mainColor--);
    overflow-x: hidden;
}
nav{
    position: fixed;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor--);
    z-index: 999;
}
nav div{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}
nav:first-child img{
    width: 80px;
    cursor: pointer;
}
nav:first-child h2{
    cursor: pointer;
}
.navMid{
    justify-content: space-between;
    padding: 20px;
}
.navMid a{
    margin: 10px;
    font-size: 20px;
}
.navMid a:hover{
    color: var(--mainColor3--);
}
.navRight{
    justify-content: end;
}
.loginBtn{
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    cursor: pointer;
    border-radius: 40px;
    border: 2px solid var(--mainColor2--);
    user-select: none;
}
.loginBtn:hover{
    transform: scale(1.05);
    border: 2px solid var(--mainColor3--);
}
.sec1{
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: var(--mainColor--);
    background-image: url(./imgs/bg.jpg);
    background-size: auto;
    background-repeat: repeat;
    background-blend-mode: luminosity;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction:row;
}
.imgHolder{
    position: relative;
    width: 750px;
    height: 500px;
    /* background-color: red !important; */
    margin-right: 100px;
}
.imgHolder img{
    position: absolute;
    width: 450px;
    /* top: 100px; */
}
.imgHolder::after{
    content: "Hello! I am Aio";
    position: absolute;
    font-size: 25px;
    right: 150px;
    top: 0px;
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 30px 50px 50px 0;
}
.imgHolder::before{
    content: "Your AI assistant.How can i help you?";
    position: absolute;
    font-size: 25px;
    right: -80px;
    top: 70px;
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 30px 50px 50px 0;
}
.leftInfo{
    position: relative;
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: blue; */
}
.leftInfo p{
    font-size: 70px;
}
.leftInfo div{
    width: 200px;
    height: 55px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainColor2--);
    margin-top: 50px;
    cursor: pointer;
    margin-right: 120px;
}
.leftInfo div:hover{
    letter-spacing: 1.5px;
    border: 3px solid var(--mainColor2--);
}
.sec2{
    position: relative;
    width: 100%;
    height: 100vh;
    box-shadow: 0 -30px 100px var(--mainColor2--);
    border-top: 5px solid var(--mainColor3--);
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutDiv{
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: 1s;
    gap: 50px;
}
.sec2TextHolder{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 50px;
}
.sec2TextHolder > div{
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border: 1px solid var(--mainColor2--);
    transform: translateX(-100%);
    opacity: 0;
    border-radius: 10px;
}
.sec2TextHolder > div >p{
    font-size: 24px;
    text-align: center;
}
@keyframes sec2P{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.aboutDiv>div>div{
    width: 30%;
    /* background-color: red; */
}
.sec2Txt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    width: 1000px;
}
.sec2Txt path{
    fill: transparent;
    stroke: var(--mainColor3--);
    stroke-width: 0.3;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    /* animation: text 3s ease-in-out 1 forwards; */
    transform: scale(0.6);
}
@keyframes text{
    0%{
        stroke-dashoffset: 300;
    }
    80%{
        stroke-dashoffset: 0;
        fill: transparent;
    }
    100%{
        fill: var(--mainColor3--);
        stroke-dashoffset: 0;
        transform: scale(0.7);
    }
}
.dots{
    position: fixed;
    height: 300px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}
.dots div{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--mainColor2--);
    border: 2px solid white;
    cursor: pointer;
}
.dotActive{
    background-color: var(--mainColor3--) !important;
}
.custom-shape-divider-top-1723135780 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-top-1723135780 img{
    position: relative;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    z-index: 100;
}
.custom-shape-divider-top-1723135780 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1723135780 .shape-fill {
    fill: rgb(1, 14, 1);
}
.sec3{
    position: relative;
    width: 100%;
    height: 120vh;
    bottom: 20vh;
    background-color: rgb(32, 32, 32);
}
.sec3::after{
    content: "Aio Chat";
    position: absolute;
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    font-size: 60px;
}
.chatDad{
    position: absolute;
    width: 100%;
    height: 75%;
    background-color: rgb(32, 32, 32);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border-radius: 50px; */
}
.chatInputArea{
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.sendBtn{
    width: 55px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    color: var(--mainColor2--);
    font-weight: 700;
    transition: 0.1s;
}
.fullS{
    width: 55px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    border-radius: 10px;
    cursor: pointer;
    color: var(--mainColor2--);
    font-weight: 700;
    transition: 0.1s;
    color: white;
    font-size: 20px;
}
.fullS > i{
    transition: 0.1s;
}
.fullScreenActive{
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    transform:none;
    background-color:rgb(32, 32, 32);
    margin-top: 0px;
    border-radius: 0px;
}
.sendBtn:hover{
    background-color: var(--mainColor2--);
    color: white;
}
.fullS:hover{
    font-size: 25px;
}
.chatInput{
    margin-bottom: 20px;
    width: 75%;
    height: 50px;
    border: none;
    border-left: 3px solid white;
    background-color: #3b3b3b;
    border-radius: 15px 10px 10px 15px;
    outline: none;
    padding: 10px;
}
.chatArea{
    position: relative;
    width: 70%;
    height: 70%;
    margin-top: 150px;
    background-color: #2c2c2c;
    border-right: #2c2c2c solid 2px;
    overflow: scroll;
    border-radius: 20px;
    overflow: auto;
    scrollbar-width: none;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
}
.chatArea p{
    display: block;
    padding: 10px;
    margin: 35px 0;
    font-size: 18px;
}
.userP{
    direction: rtl;
    width: 100%;
    height: fit-content;
    /* border-radius: 15px; */
    margin-top: 10px;
}
.aiP{
    direction: ltr;
    position: relative;
    width: fit-content;
    height: fit-content;
    border-radius:0 15px;
    border: 1px solid #646464;
    /* margin-top: 10px; */
}
.aiP > span{
    position: absolute;
    top: -30px;
    left: 0px;
}
.aiStartM{
    border-bottom: none;
    border: none;
}
.chatArea h3{
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-bottom: 1px solid #585858cb;
    padding-bottom: 10px;
}
.chatArea::-webkit-scrollbar {
    display: none;
}
.aiStartM{
    position: relative;
    left: -400px;
    transition: 1s;
}
footer{
    position: relative;
    width: 100%;
    height: 40vh;
    background-color: #2c2c2c;
}
.links{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 70px;
    border: 2px solid var(--mainColor2--);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links i{
    font-size: 45px;
    color: var(--mainColor3--);
}
footer h2{
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    font-size: 20px;
    color: var(--mainColor2--);
}
.loginPage{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 0px;
    height: 0px;
    background-color: #2c2c2c;
    display: flex;
    overflow: hidden;
}
.loginPage >div{
    position: relative;
    width: 50% !important;
    height: 100%;
    display: flex;
}
.loginForm{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #2c2c2c !important;
    transition: 1s !important;
    z-index: 99;
}
.sign{
    width: 35%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 50px;
    border-bottom: 1px solid #6e6e6ec0;
    padding-bottom: 30px;
}
.sign >div{
    width: 200px;
    height: 60px;
    border-radius: 40px;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--mainColor3--);
    border: 2px solid var(--mainColor2--);
}
.sign >div:hover{
    background-color: var(--mainColor2--);
    color: white;
}
.signActive{
    background-color: var(--mainColor2--) !important;
    color: white !important;
    border: 1px solid white !important;
}
.signIn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 50px;
    height: 75%;
    width: 100%;
    padding-top: 50px;
}
.signIn > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
}
.signIn > form > input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    color: var(--mainColor2--);
}
.signIn > h2{
    font-size: 40px;
}
.signBtn{
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 40px;
    border: 2px solid var(--mainColor2--);
    user-select: none;
}
.signBtn:hover{
    transform: scale(1.05);
    border: 2px solid var(--mainColor3--);
}
.wrongEmail{
    padding: 10px;
    border: 1px solid red;
    font-size: 18px;
    display: none;
}
.signImg{
    position: absolute;
    width: 30%;
    left: -100px;
    transform: rotate(50deg);
}
.signImg img{
    width: 100%;
}
.loginTxt{
    position: absolute;
    background-color: var(--mainColor--);
    background-image: url(./imgs/bg.jpg);
    background-size: auto;
    background-repeat: repeat;
    background-blend-mode: luminosity;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s !important;
    z-index: 100;
}
.loginTxt h1{
    font-size: 70px;
    margin-bottom: 50px;
    text-align: center;
}
.loginTxt p{
    font-size: 30px;
    margin-bottom: 50px;
    width: 70%;
    text-align: center;
}
.loginActive{
    width:100%;
    height:95%;
    z-index:998;
    margin-top:2.5%;
}
.profileBtn{
    position: relative;
    cursor:pointer;
    border:1px solid rgb(62, 88, 62);
    padding:5px;
    border-radius:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    width:80px;
    transition: 0.1s;
    gap: 5px;
    text-transform: uppercase;
}
.profileN{
    font-size: 12px;
}
.profileBtn:hover{
    border: 1px solid var(--mainColor3--);
    background-color: var(--mainColor3--);
}
.profileBtn:hover i ,.profileBtn:hover .profileN{
    color: #2c2c2c;
}
.profileMenu{
    position: fixed;
    width: 200px;
    height: 200px;
    background-color: #2c2c2c;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: -200px;
    right: 15px;
    border: 1px solid var(--mainColor2--);
}
.profileMenu >div{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 30%;
}
.profileMenu >div:hover{
    background-color: #3b3b3b;
    color: var(--mainColor3--);
}
.profileMenu >div>a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileMenuActive{
    top: 70px;
}
.loginFirst{
    position: absolute;
    width: 70%;
    height: 100px;
    background-color: var(--mainColor2--);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
}
.loginFirst h1{
    font-size: 25px;
    color: #2c2c2c;
    text-align: center;
}
@media (max-width: 1150px){
    nav div{
        width: 40%;
    }
    .leftInfo{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .leftInfo p{
        font-size: 50px;
    }
    .leftInfo a{
        margin-left: 100px;
    }
    .imgHolder{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .imgHolder::after{
        display: none;
    }
    .imgHolder::before{
        display: none;
    }
    .imgHolder img{
        width: 450px;
        margin-left: 100px;
    }
    .imgHolder::after{
        font-size: 20px;
        right: 100px;
    }
    .imgHolder::before{
        font-size: 20px;
        right: -50px;
    }
    .sec1{
        height: 100vh;
        flex-direction:row-reverse !important;
    }
    /* .sec2{
        height: 110vh;
    } */
    .dots{
        height: 200px;
    }
    .dots div{
        width: 20px;
        height: 20px;
    }
    .custom-shape-divider-top-1723135780 img{
        width: 150px;
    }
    .custom-shape-divider-top-1723135780 svg {
        height: 100px;
    }
    .sec3{
        height: 110vh;
    }
    .sec3::after{
        font-size: 50px;
    }
    .chatDad{
        width: 90%;
        height: 80%;
    }
    .chatInput{
        width: 70%;
    }
    .chatArea{
        width: 90%;
    }
    footer{
        height: 30vh;
    }
    .links{
        width: 200px;
        height: 50px;
    }
    footer h2{
        font-size: 15px;
    }
    .signImg{
        display: none;
    }
}
@media (max-width: 1016px){
    .sec2 {
        height: 130vh;
    }
}
@media (max-width: 1000px){
    .dots{
        display: none;
    }
}
@media (max-width: 679px){
    .leftInfo p {
        font-size: 30px;
    }
    .loginTxt h1 {
        font-size: 40px;
    }
    .loginTxt p {
        font-size: 20px;
    }
    .signIn > form > input {
        width: 150px;
    }
    .sign {
        width: 85%;
    }
}
